a,th,table {
    font-weight: 100;
}
.content-wrapper{
	padding-top:10px;
}
.alert-success{
	background-color:#3c8dbc !important;
}
#slider_backend td {
	vertical-align: middle;
	text-align: center;
}
.checkbox{
	margin-top:0px;
}
/*.toggle.btn{
	margin-left:-10px;
}*/