/* custom CSS here font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;
*/
:focus,
a:focus {
    outline: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
a {
    color: #646c70;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
a:hover {
    color: #8c8c8c;
    text-decoration: none;
}
iframe{
    width:100%;
}
body,
html {
    height: 100%;
}
::selection {
    background: #1e206f;
    color: #fff;
    text-shadow: none;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: 300
}
.childpage .page {
    overflow: hidden;
    min-height: 100%;
}
header.header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px 0 0px 0;
    z-index: 999;
    color: black;
}
.page {
    min-height: 100%;
}
.logo img {
    max-width: 100%;
}
.logo {
    max-width: 20%;
    flex: 0 0 20%;
}
.navRight {
    max-width: 80%;
    flex: 0 0 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navRight>div {
    display: inline-block;
    vertical-align: middle;
}
.boxSearch input {
    border: 1px solid white;
    background: #046345;
    border-radius: 40px;
    height: 40px;
    color: black;
    padding-left: 39px;
}
.boxSearch input::placeholder {
    color: white;
}
.boxSearch {
    width: 380px;
    position: relative;
}

.btn-search {
    position: absolute;
    top: 10px;
    color: black;
    background: none;
    border: none;
    font-size: 21px;
    outline: none;
    left: 0;
}
.boxAdd {
    font-size: 16px;
    padding-right: 30px;
    padding-left: 30px;
}
.boxAdd a {
    color: black;
}
.boxAdd a:hover{
    text-decoration: underline;
}
.boxAdd i {
    display: inline-block;
    color: #a2cf73;
    min-width: 20px;
}
.boxAddItem {
    padding: 2px 0px;
}

.boxAddItem:last-child .first-child {
    text-indent: -0.2em;
    display: inline-block;
}
.hotline-phone-ring-wrap{
    position: fixed !important;
    bottom:10px;
    left:50px;
}
.hotline-bar,
.hotline-phone-ring-circle,
.hotline-phone-ring-circle-fill,
.hotline-phone-ring-img-circle{
    background: #046143;
    border:2px solid #046143;;
}

@media (max-width: 992px) {
    .boxAddItem > a > span:first-child {
        display: none;
    }
}

.boxLang {}
.boxLang a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px;
}
.boxLang img {
    border-radius: 50%;
    max-width: 30px;
}
.wrapmenu {
    padding-top: 15px;
    text-align: center;
    position: relative;
    z-index: 6;
    border-top: 1px solid black;
    max-width: 100%;
    flex: 0 0 100%;
    margin-top: 20px;
}
header .container {
    position: relative;
}
/*Reset boostrap*/
.page-header {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0px 0px 40px 0px;
    border: none;
}
.grp-breadcums {
    background: rgba(230, 230, 230, 0.7);
    text-align: left;
    padding: 10px 0px;
    left: 0;
    z-index: 99;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px
}
ol.breadcrumb {
    padding: 0;
    margin: 0;
    background: none;
    font-weight: normal;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-radius: 0;
}
ol.breadcrumb a {
    color: #046345
}
ol.breadcrumb a:hover {
    color: #c65417;
    text-decoration: none;
}
.breadcrumb>li+li:before {
    content: "/";
    color: #909090;
    margin: 0 4px;
}
.breadcrumb>.active {
    color: #000000;
    font-weight: bold;
}
textarea.form-control {
    height: 150px;
    overflow: auto;
    resize: none;
    padding-top: 13px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.16);
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    margin-bottom: 20px;
}
button.btnSm {
    background: #046345;
    border: none;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    border-radius: 5px;
    width: 320px;
    padding: 11px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.form-control {
    width: 100%;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    height: 50px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}
.mainChild {
    padding-top: 60px;
}
/*For paging*/
ul.pagination {
    margin: 0px 0px 40px;
    padding: 0;
    display: block;
    text-align: center;
}
.pagination>li>a,
.pagination>li>span {
    border-radius: 5px !important;
    font-size: 17px;
    color: #646c70;
    font-weight: normal;
    width: 35px;
    height: 35px;
    line-height: 34px;
    padding: 0;
    text-align: center;
}
.pagination>li {
    display: inline-block;
    vertical-align: middle;
}
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus,
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background: #b82028;
    color: #fff;
    border-color: #b82028
}
li.arrow-pagin a:hover {
    background: #b82028;
    color: #fff;
    border-color: #b82028
}
/*reset slick*/
button.slick-prev.slick-arrow {
    left: 30px;
}
.page_mainslider button.slick-arrow:hover {
    opacity: 0.5;
}
.page_mainslider #slider>.bgslider {
    display: none
}
.page_mainslider #slider>.bgslider:first-child {
    display: block
}
button.slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    height: 40px;
    outline: none;
    border: none;
    font-size: 0;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    z-index: 99;
    color: #fff;
    background-size: contain !important;
    background-color: none;
}
.page_mainslider button.slick-arrow {
    background: url(../img/arr-1.png);
}
button.slick-arrow.slick-next {
    background: url(../img/arr-2.png);
}
button.slick-next.slick-arrow {
    right: 30px;
}
.page_mainslider button.slick-arrow:after {
    display: none;
}
button.slick-arrow:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px
}
button.slick-next.slick-arrow:after {
    content: "\f105";
}
button.slick-prev.slick-arrow:after {
    content: "\f104";
}
/*dot-square*/
/*ul.slick-dots button{font-size:0;background:none;border:none;}
ul.slick-dots li{display:inline-block;vertical-align:middle;width:30px;height:3px;background:#707070;margin:0 6px;cursor:pointer;}
ul.slick-dots{margin:0;padding:0;list-style:none;text-align:center;}
ul.slick-dots li.slick-active{background:#ffe200}*/
/*dot-cricle*/
ul.slick-dots button {
    font-size: 0;
    background: none;
    border: none;
}
ul.slick-dots li {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    background: rgb(255, 255, 255);
    margin: 0 4px;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
}
ul.slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}
ul.slick-dots li:after {
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border: 1px solid rgba(255, 255, 255, 0);
    position: absolute;
    content: '';
    border-radius: 50%;
}
ul.slick-dots li.slick-active {
    background: #fff
}
ul.slick-dots li.slick-active:after {
    border: 1px solid rgba(255, 255, 255, 1);
}
/*Document*/
.imgIntro {
    margin-bottom: 30px;
    margin-top: 20px;
}
.imgIntro img {
    max-width: 100%;
}
.document hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid #e8e8e8;
}
.document p strong {
    color: #434343;
}
.document p {
    line-height: 24px;
    margin-bottom: 30px;
}
.document {
    font-size: 16px;
}
.document h4 {
    color: #212121;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}
.document h5 {
    color: #212121;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
}
.document h3 {
    color: #000;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 0;
    padding-bottom: 9px;
}
.document img {
    max-width: 100%;
}
.document li {
    position: relative;
    padding-left: 22px;
    margin-bottom: 8px;
    line-height: 24px
}
.document ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.document li:before {
    content: "•";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: 3px;
    left: 0;
}
/*scroll top*/
.to-top {
    font-size: 23px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 0;
    bottom: -100px;
    z-index: 9999;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: #fcca03;
    color: rgb(72, 72, 72);
}
.to-top .fa {
    line-height: 35px;
}
/*for menu*/
.mainmenu ul li {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    /*padding: 0 25px;*/
    position: relative;
}
.mainmenu ul li.active>a {
    text-decoration: none;
    color: #fff;
}
.mainmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mainmenu {
    width: 100%;
}
.menu {
    display: flex;
    justify-content: space-between;
}
.mainmenu ul li span {
    display: inline-block;
    margin-right: 4px;
    display: none;
}
.mainmenu ul li a {
    font-size: 15px;
    color: black;
    padding-bottom: 18px;
    position: relative;
    padding-top: 2px;
    display: block;
    font-weight: 700;
}
.mainmenu ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background: #005030;
    height: 3px;
    right: 0;
    margin: 0 auto;
    transition: all 0.3s ease 0s;
}
.mainmenu ul li:hover>a {
    text-decoration: none;
    color: #046345;
}
.mainmenu ul li:hover a:after,
.mainmenu ul li.active>a:after {
    width: 100%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.mainmenu ul li li a:after {
    display: none;
}
.mainmenu ul li:hover ul.sub {
    display: block;
}
ul.sub li a {
    display: block;
    color: #fff;
    padding: 15px;
}
ul.sub li a:hover {
    background: white;
    color: black;
}
ul.sub li {
    display: block;
    text-align: left;
    padding: 0;
    border-top: 1px solid #fff;
}
ul.menuChild {
    position: absolute;
    display: none;
    width: 230px;
    background: rgba(0, 80, 48, 1);
    top: 100%;
    z-index: 999;
}
.btn-menu {
    display: none;
}
.btn-menu {
    border-radius: 2px;
    color: #fff !important;
    height: 30px;
    font-size: 0;
    line-height: 1;
    position: fixed;
    top: 27px;
    right: 15px;
    text-transform: uppercase;
    width: 30px;
    vertical-align: middle;
    z-index: 5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.active-menu .burger-icon-3 {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -o-transform: rotate3d(0, 0, 1, -45deg);
    top: -8px;
}
.active-menu .burger-icon-2 {
    opacity: 0;
}
.active-menu .burger-icon-1 {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    -o-transform: rotate3d(0, 0, 1, 45deg);
    top: 8px;
}
/*for slider++*/
.bgimg {
    width: 100%;
}
.slick-active .des-info:after {
    -webkit-animation: fadeInLeft .8s;
    -moz-animation: fadeInLeft .8s;
    -o-animation: fadeInLeft .8s;
    animation: fadeInLeft .8s;
}
.slick-active .des-info h4 {
    -webkit-animation: fadeInLeft 1s;
    -moz-animation: fadeInLeft 1s;
    -o-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}
.slick-active .des-info p {
    -webkit-animation: fadeInLeft 1.1s;
    -moz-animation: fadeInLeft 1.1s;
    -o-animation: fadeInLeft 1.1s;
    animation: fadeInLeft 1.1s;
}
.slick-active .des-info a {
    -webkit-animation: fadeInLeft 1.2s;
    -moz-animation: fadeInLeft 1.2s;
    -o-animation: fadeInLeft 1.2s;
    animation: fadeInLeft 1.2s;
}
.form-info {
    background: rgba(209, 230, 182, 0.7);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    margin-top: -50px;
    position: relative;
    z-index: 9;
    border-bottom: 3px solid #046345;
    width: 75%;
    margin: 0 auto
}
.form-info>div {
    max-width: 30%;
    flex: 0 0 30%;
    padding: 10px;
}
.form-info>div label {
    font-size: 15px;
    font-weight: normal;
}
.form-info>div input {
    height: 37px;
}
.form-info>div:last-child {
    max-width: 10%;
    flex: 10%;
}
.form-info>div button {
    width: 100%;
    background: #046345;
    border: none;
    color: white;
    height: 37px;
    border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/*Footer*/
footer.footer li {
    display: inline-block;
    vertical-align: middle;
    padding: 0
}
footer.footer li.active a {
    color: #fff;
}
footer.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
    font-size: 12px;
    margin-top: 26px;
}
footer.footer li:before {
    content: "|";
    display: inline-block;
    margin: 0 9px;
}
footer.footer li:first-child:before {
    display: none;
}
footer.footer h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 20px;
}
.footer a:hover {
    color: #fff;
    text-decoration: underline;
}
.footer a {
    color: #fff;
}
.footer {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    background: #046345;
    padding-top: 30px;
    padding-bottom: 15px;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 20px;
}
.footer p {
    line-height: 30px;
    font-size: 16px;
}
.share a:hover {
    background: rgba(230, 230, 230, 1);
    color: #000;
}
.share {
    margin-top: 30px;
}
.share a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 27px;
    text-align: center;
    margin-right: 13px;
    color: #fff;
    border: 2px solid #fff;
}
/*banner-innder*/
.page-banner {
    position: relative;
    min-height: 100px;
}
.page-banner img {
    width: 100%;
    position: relative;
    max-width: 100%
}
.grp-breadcums .container {
    position: relative !important;
    background: none !important;
}
.page-banner .container {
    bottom: 0;
    color: #fff;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    color: #fff;
}
.gridNews {}
.gridNews .item img {
    width: 100%;
}
.gridNews .item .info {
    margin-top: 20px;
}
.gridNews .item .info>a:first-child {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    color: #046345;
    display: block;
    margin-bottom: 11px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 60px;
}
.gridNews .item {
    margin-bottom: 30px;
}
.gridNews .item .info p {
    font-size: 15px;
    margin: 0;
    color: #000;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 20px;
    line-height: 1.6;
}
a.v-more:after {
    width: 100%;
    right: 0;
    left: 0;
    height: 2px;
    bottom: 0;
    position: absolute;
    content: '';
    background: #046345;
}
a.v-more {
    font-size: 18px;
    color: #046345;
    font-style: initial;
    position: relative;
    padding-bottom: 9px;
    display: inline-block;
}
.form-style label {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 7px;
}
.form-style input {
    border-radius: 5px;
    border: 1px solid #c1c1c1;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.16);
}
.form-style .col-md-6 {
    margin-bottom: 20px;
}
/*contact*/
.form-style {
    margin-bottom: 30px;
}
.addInfo table td:first-child {
    width: 40px;
}
.addInfo table td {
    padding-bottom: 15px;
}
.addInfo table td a{
    color: #000;
}
.addInfo table td a:hover{
    text-decoration: underline;
}
.addInfo table {
    width: 100%;
}
.addInfo table td:first-child img {
    max-width: 18px;
}
h1.ttl-3 {
    font-size: 25px;
    font-weight: 700;
}
.ttl-3 {
    font-size: 21px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 20px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}
/*address contact page*/
.imgIntroDetail {
    margin-bottom: 30px;
}
.imgIntroDetail img {
    max-width: 100%;
}
.form-style-other {
    background: #eef2f5;
    padding: 20px;
    margin-bottom: 30px;
}
.form-style-other button.btnSm {
    width: 100%;
}
.form-style-item {
    margin-bottom: 20px;
}
.form-style-item label {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 6px;
}
.form-style-item input {
    border-color: #ccc;
    height: 44px;
    border-radius: 3px;
}
.boxSupport p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
}
.boxSupport h4 {
    font-size: 22px;
    color: #046345;
    padding-top: 10px;
    margin-bottom: 10px;
}
.boxSupport {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 30px;
}
.boxSupport img {
    max-width: 100%;
}

.hotline {
    font-size: 30px !important;
}

.hotline a {
    color: #b82028;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    position: relative;
    top: 2px;
}
.footer .hotline a {
    color: yellow;
}
ul.newList li {
    margin-bottom: 9px;
}
ul.newList li a:hover {
    color: #c65417;
}
ul.newList {
    padding-left: 16px;
    font-style: italic;
}
/*Sub menu*/
.mb-tab {
    display: block;
}
ul.menuchild li a:after {
    position: absolute;
    content: "\f105";
    right: 0;
    top: 18px;
    font: normal normal normal 14px/1 FontAwesome;
}
ul.menuchild li:first-child a {
    border-top: none;
}
ul.menuchild li a {
    font-size: 14px;
    color: #7d7d7d;
    border-top: 1px solid #dbdbdb;
    display: block;
    padding: 14px;
    position: relative;
}
ul.menuchild li a:hover,
ul.menuchild li.active a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
ul.menuchild li {
    list-style: none;
}
ul.menuchild {
    margin: 0;
    padding: 0px 10px;
    list-style: none;
    border: 1px solid #e8e8e8;
}
ul.menuchild.menuother {
    border: none;
    padding: 0;
}
ul.menuchild.menuother li a {
    padding-left: 0;
    text-transform: initial;
}
.mainhome {
    /* padding-bottom: 60px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
section.sWhy {
    /* background: #eef2f5; */
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
section.sWhy ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
section.sWhy ul li {
    max-width: 16.666%;
    flex: 0 0 16.666%;
    color: #046345;
    text-transform: uppercase;
}
section.sWhy ul li .icon {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
section.sWhy ul li h3 {
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
    padding-top: 20px;
}
.ttl:after {
    content: '';
    position: absolute;
    height: 5px;
    width: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #046345;
    bottom: 0;
}
.ttl {
    text-transform: uppercase;
    font-size: 23px;
    color: #046345;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
}
section.sTour {
    padding-top: 30px;
    padding-bottom: 20px;
    overflow: hidden;
}
.gridTour {
    display: flex;
    margin: 0 -20px;
    flex-wrap: wrap;
}
/* .gridTourItem {
    flex: 0 0 33%;
    max-width: 33%;
    padding: 20px;
    justify-content: space-between;
}
.gridTourWrap {
    position: relative;
}
.gridTourWrap:hover .gridTourInfo {
    color: #046345;
}
.gridTourWrap:hover .gridTourInfo h3 {
    font-weight: 700;
}
.gridTourWrap:hover .gridTourInfo h3:after {
    background: #046345
}
.gridTourImg img {
    max-width: 100%;
    width: 100%;
}
.gridTourInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(4, 99, 69, 0.25);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.gridTourInfo h3 {
    font-size: 27px;
    position: relative;
    padding-bottom: 14px;
    margin: 0;
}
.gridTourInfo h3:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    width: 100px;
    margin: 0 auto;
    background: white;
    bottom: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.gridTourInfo>a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
} */
.gridTourItem {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding: 20px;
}

.gridTourWrap {
    position: relative;
}
.gridTourWrap::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0px;
    bottom: 0px;
    height: 100%;
    z-index: 1;
    width: 0%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(30, 60, 80, 0.8);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.gridTourWrap::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0px;
    bottom: 0px;
    height: 100%;
    z-index: 1;
    width: 0%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(30, 60, 80, 0.8);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.gridTourWrap:hover {
    background-color: rgba(30, 60, 80, 0.8);
    display: block;
}

.gridTourWrap:hover::after,
.gridTourWrap:hover::before {
    width: 50%;
    visibility: visible;
    opacity: 1;
}

.gridTourWrap:hover .gridTourInfo {
    /* color: #c65417 */
}

.gridTourWrap:hover .gridTourInfo h3:after {
    /* background: #c65417 */
}

.gridTourImg img {
    max-width: 100%;
    width: 100%;
}

.gridTourWrap .gridTourInfo {
    position: absolute;
    top: 0;
    left: auto;
    width: 100%;
    overflow: hidden;
    height: 100%;
    padding: 20px;
    text-align: center;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s ease 0.2s;
    -moz-transition: all 0.4s ease 0.2s;
    -o-transition: all 0.4s ease 0.2s;
    transition: all 0.4s ease 0.2s;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridTourWrap:hover .gridTourInfo {
    visibility: visible;
    opacity: 1;
}

.gridTourInfo h3 {
    font-size: 27px;
    position: relative;
    padding-bottom: 14px;
    margin: 0;
    color: #ffffff;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.5;
}
.header .container {
    display: flex;
}
.ttl-2 span {
    background: rgba(4, 99, 69, 0.5);
    display: inline-block;
    min-width: 200px;
    padding: 10px 22px;
    color: #fff;
    font-size: 16px;
    line-height: 1;
}
.ttl-2 {
    border-bottom: 1px solid #7a7878;
    margin-bottom: 20px;
}
.sliderItem {
    margin: 0 -10px;
}
.sliderItem .item {
    padding: 10px;
}
.sliderItem .item img {
    width: 100%;
}
.sliderItem .item .info {
    margin-top: 20px;
}
.sliderItem .item .info>a {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sliderItem .item .info>a:hover {
    color: #c65417;
}
.sliderItem .item .date {
    color: #929292;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 8px;
}
.sliderItem .item p.txt {
    font-size: 15px;
    margin: 0;
    color: #000;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 105px;
}
.sliderItem .item .info a.readmore {
    font-size: 13px;
    background: #046345;
    display: inline-block;
    padding: 9px;
    min-width: 130px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sliderItem .item .info a.readmore:hover,
.form-info>div button:hover,
.form-style-other button.btnSm:hover {
    background: #7a7878;
}
a.arrow.arrow--prev.slick-arrow {
    right: auto;
    left: 10px;
}
a.arrow {
    font-size: 25px;
    position: absolute;
    top: 120px;
    right: 10px;
    color: white;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 10px;
}
.sNews {
    background-color: #eef2f5;
    padding-bottom: 20px
}
.sNewsItem {
    margin-bottom: 40px;
}
@media (min-width:1200px) {
    .container {
        width: 1180px;
    }

}
/* @media (min-width:991px) {
    .mainmenu .boxSearch {
        display: none;
        width: auto;
    }
    .mainmenu .boxLang {
        display: none;
    }
} */

.page_mainslider {
    animation-name: navInUp;
    opacity: 1;
    animation-fill-mode: backwards;
    transition: all 1s ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: both;
    position: relative;
}
.mainhome[data-waypoint].active {
    animation-name: navInUp;
    opacity: 1;
    animation-fill-mode: backwards;
}
.sWhy[data-waypoint].active .ttl {
    animation-name: navInRight;
    opacity: 1;
    animation-fill-mode: backwards;
}
.sWhy[data-waypoint].active ul {
    animation-name: navInLeft;
    opacity: 1;
    animation-fill-mode: backwards;
}
.sWhy[data-waypoint] .ttl,
.sWhy[data-waypoint] ul,
.mainhome[data-waypoint],
.sTour[data-waypoint] .ttl,.sTour[data-waypoint] .gridTourItem,.sNews[data-waypoint] .ttl,.sNews[data-waypoint] .sNewsItem  {
    position: relative;
    transition: all 1s ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: both;
    opacity: 0;
}
.sTour[data-waypoint].active .ttl,.sNews[data-waypoint].active .ttl ,.sNews[data-waypoint].active  .sNewsItem {
    animation-name: navInUp;
    opacity: 1;
    animation-fill-mode: backwards;
}
.sTour[data-waypoint].active  .gridTourItem{
    animation-name: navInLeft;
    opacity: 1;
    animation-fill-mode: backwards; 
}
.sTour[data-waypoint].active  .gridTourItem:nth-child(2n){
    animation-name: navInRight;
    opacity: 1;
    animation-fill-mode: backwards; 
}
.gridNews .item .info p.txt {height: 70px;}
.gridNews .item img,.sliderItem .item img {height : 240px}
.sliderItem .item .info>a.title {height: 56px}
.box-detail img{
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;  
    margin: 0 auto;
}
.box-detail a {
    color: #046345;
    font-weight: 700;
}

.box-detail a:hover {
    opacity: 0.8;
}

.box-detail > div {
    white-space: normal !important;
}

.box-detail > p {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

/* Change design form Search */
.search {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 100;
    right: 0;
    height: 20px;
}
.search .btn-search {
    font-size: 1rem;
    color: #000;
    transition: all 0.2s ease-in-out;
}
.search .btn-search .icon_search {
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
}
.search .btn-search .icon_search::before {
    content: "\f002";
}
.search .btn-search.active .icon_search::before {
    content: "\f05c";
}
.search .boxSearch {
    position: absolute;
    right: 0;
    width: 0;
    top: 33px;
    padding-top: 0.625rem;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}
.search .boxSearch.active {
    width: 280px;
}

.search .boxSearch .btn-search {
    top: 18px;
    left: 7px;
}
.search .btn-search .fa-search {
    color: white;
}

.hotline-highlight {
    font-size: 35px;
    padding-right: 30px;
    font-weight: 600;
}

.hotline-highlight .text {
    color: #046345;
}

.hotline-highlight .number-hotline {
    color: #b82028;
    text-decoration: none;
}

.copyright-wrapper {
    padding-top: 15px;
}

.d-flex {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.d-flex .congthuong-img {
    width: 50%;
}

.d-flex a + a {
    margin-left: 15px;
}

.copyright-wrapper .copyright {
    padding-top: 13px;
    border-top: 1px solid white;
    text-align: center;
}

footer iframe {
    height: 300px;
}


.page-banner {
    position: relative;
}

.page-banner .title-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 700;
    font-size: 46px;
    text-transform: uppercase;

}

.default .default-item {
    text-align: center;
    margin: 30px 0;
}

.default .default-item span,
.default .default-item img {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.default .default-item span {
    font-size: 21px;
    color: #444444;
}

.document-item {
    margin: 20px 0;
}

.document-item > a {
    position: relative;
    padding-left: 30px;
    line-height: 1.5;
    display: block;
}

.document-item > a::before {
    position: absolute;
    content: "\f02d";
    top: 0;
    left: 0;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
}

.document-item > a > .title-document {
    font-size: 20px;
    color: blue;
    display: inline-block;
    margin: 0;
}
.nav-pills {
    border-bottom: 1px solid #337ab7;
}
.nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

.tab-content {
  color : black;
  background-color: white;
  padding : 5px 15px;
}
.sm {
    display: none;
}
.ref {
    padding-top: 40px;
    background-color: #eef2f5;
    padding-bottom: 40px;
}

.ref .d-flex {
    justify-content: space-between;
    padding-top: 20px;
}
.ref .ref-item {
    width: 48.5%;
    display: flex;
    justify-content: space-between;
}
.ref .ref-item .avatar {
    width: 40%;
}
.ref .ref-item .avatar img {
    max-width: 100%;
    width: auto;
}
.ref .ref-item .info {
    width: 55%;
}

.ref .ref-item .info .name {
    font-size: 22px;
    line-height: 1;
    font-weight: 600;
}

.ref .ref-item .info small {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.ref .ref-item .info .position {
    padding-top: 10px;
    font-size: 18px;
    position: relative;
}

.ref .ref-item .info .position::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100px;
    height: 1px;
    background-color: #046345;
}
.home {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
}
.home > i {
    font-size: 40px;
}

@media (max-width: 1199px) {
    
    .hotline-highlight {
        font-size: 25px;
        padding-right: 0;
    }
}

@media (max-width:992px) {
    .home {
        position: static !important;
        top: auto;
        transform: translateX(0);
    }
    .sm {
        display: block !important;
    }
    .md {
        display: none !important;
    }
    .logo {
        max-width: 28%;
        flex: 0 0 28%;
    }
    header.header {
        position: relative;
        background: white;   
    }
    header.header.fixed-header{ position: fixed;    background: black;}
    .wrapmenu {
        padding-top: 0;
        border: none;
        margin: 5px;
    }
    .header .container {
        display: flex;
        width: auto;
        align-items: center;
    }
    .navRight {
        display: block;
        max-width: 100%;
        flex: auto;
        padding-right: 42px;
        padding-left: 15%;
    }
    .navRight > div {
        display: block;
    }

    .boxAdd {
        padding-right: 0;
        padding-left: 0;
    }
    .mainmenu .boxSearch {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .boxLang {
        text-align: center;
        padding-top: 16px;
    }
    .navRight .boxSearch,
    .navRight .boxLang {
        display: none;
    }
    
    .boxAdd .first-child {
        display: none;
    }
    .search {
        position: static;
        top: auto;
        transform: translate(0);
        right: auto;
        height: auto;
    }
    .search .boxSearch {
        position: static;
        right: auto;
        width: auto;
        top: auto;
        margin: 10px 0;
    }
    /*For menu*/
    .mainmenu ul li a {
        font-size: 12px;
        letter-spacing: 0
    }
    .btn-menu {
        display: block;
    }
    .btn-menu span {
        background: black;
        height: 3px;
        margin-bottom: 5px;
        display: block;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    ul.menu li {
        display: block;
        border-left: none;
        border-bottom: 1px solid #eee;
        padding: 0
    }
    ul.menu li a {
        padding: 11px;
        display: block;
        color: #fff;
    }
    a.menu-page.active-menu {
        right: 260px;
    }
    #menu.open-sub {
        right: 0;
    }
    #menu.open-sub .menu {
        display: block;
    }
    #menu {
        border-left: #fff solid 1px;
        bottom: 0;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        position: fixed;
        right: -250px;
        text-align: left;
        top: 0;
        z-index: 999;
        width: 250px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        top: 0;
        background: rgba(0, 0, 0, 0.8);
        height: 100%
    }
    span.icon {
        position: absolute;
        right: 0;
        top: 0;
        background: #151515;
        width: 40px;
        z-index: 9999;
        height: 38px;
        color: #fff;
        text-align: center;
        line-height: 40px;
        border-left: 1px solid rgba(167, 167, 167, 0.45);
        cursor: pointer;
        display: block !important;
    }
    ul.menu ul.sub {
        position: relative;
        width: auto;
        height: 0;
        opacity: 1;
        overflow: hidden;
        visibility: visible;
        z-index: 999;
        border: none;
        display: block;
        top: inherit;
        bottom: inherit !important;
    }
    ul.menu ul.sub.showchild {
        height: auto;
    }
    span.icon:after {
        content: "\f067";
        font: normal normal normal 14px/1 FontAwesome;
    }
    span.icon.open-icon:after {
        content: "\f068";
    }
    .mb-tab {
        display: none;
    }
    .btn-nav {
        background: #313131;
        border-radius: 5px 5px 0 0;
        color: #fff !important;
        display: block;
        font-size: 13px;
        font-weight: 600;
        padding: 10px 17px;
        position: relative;
        text-transform: uppercase;
        margin-top: 6px;
        text-decoration: none !important;
        z-index: 99;
    }
    .btn-nav:after {
        border-color: #fff transparent transparent;
        border-style: solid;
        border-width: 6px 6px 0 6px;
        content: "";
        margin-top: -3px;
        position: absolute;
        top: 50%;
        right: 20px;
    }
    .btn-nav.open-nav:after {
        border-color: transparent transparent #fff;
        border-width: 0 6px 6px 6px;
    }
    .childpage .page {
        overflow: hidden;
        min-height: 100%;
        margin-bottom: 0 !important;
    }
    body,
    html {
        height: inherit;
    }
    .footer .col-sm-4 {
        margin-bottom: 20px;
    }
    .form-info {
        margin-top: 30px;
    }
    .mainChild {
        padding-top: 30px;
    }
    section.sWhy ul li {
        flex: 0 0 33.333%;
        max-width: 33.333%;
        margin-bottom: 20px;
    }
    section.sWhy ul {
        flex-wrap: wrap;
    }
    .ref .ref-item {
        width: 48.5%;
        display: block;
    }
    .ref .ref-item .avatar {
        width: 100%;
    }
    .ref .ref-item .info {
        width: 100%;
        margin-top: 20px;
    }
}
@media (max-width:768px) {
    .hotline-phone-ring-wrap {
        bottom:10%;
    }
    .navRight {
        padding-left: 10%;
    }
    .mainhome {
        position: static;
        bottom: auto;
        left: auto;
        transform: translateX(0);
        margin-top:10px;
    }
    .form-info {
        flex-wrap: wrap;
        padding: 10px;
        width: 100%;
        margin-top: 0;
    }
    .form-info>div {
        max-width: 50% !important;
        flex: 50% !important;
    }
}
@media (max-width:640px) {

    .navRight {
        padding-left: 30px;
    }

    .gridTourItem {
        flex: 0 0 100%;
        max-width: 100%;
    }
    button.btnSm {
        width: 100%;
    }
    .boxAdd {
        font-size: 13px;
        padding: 0;
    }
    .gridNews .item .info {
        margin-top: 12px;
    }
    .gridNews .item .info>a:first-child {
        font-size: 16px;
        margin-bottom: 2px;
    }

    .ref .d-flex {
        display: block;
        padding-top: 20px;
    }
    .ref .ref-item {
        width: 100%;
        text-align: center;
    }
    .ref .ref-item .info .position::before {
        left: 50%;
        transform: translateX(-50%);
    }
    
}
@media (max-width:480px) {
    .navRight {
        padding-left: 15px;
    }
    .hotline-highlight {
        font-size: 18px;
    }
    section.sWhy ul li {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width:480px) {
    .navRight {
        padding-left: 5px;
    }
    .hotline-highlight {
        font-size: 18px;
    }
}
/* //effect */
@media (min-width:991px) {.header {
    animation-name: navInDown;
    opacity: 1;
    animation-fill-mode: backwards;
    transition: all 1s ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: both;
}}